@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@100&family=Prompt:ital,wght@0,200;1,400&family=Roboto&family=Rubik:wght@500&family=Shadows+Into+Light&display=swap');


.navbar{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.logo{
    font-family: 'Rubik', sans-serif;
    font-size: larger;
}

.links ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.links ul li{
    padding: 10px;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
}

.icons{
    padding: 10px;
}

.myIcone{
    margin-right: 10px;
}